 * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        .container-nav {
            width: 100%;
            height: 60px;
            background:black;
            

        }

        .con-nav {
            width: 90%;
            margin: auto;
            height: 50px;


        }

        .con-nav .nav-left {
            float: left;
            font-size: 2.4rem;
            color: gold;
            font-family: serif;
            padding: 4px 16px;
        }

        .con-nav .nav-right {
            float: right;
            padding: 8px 0px;
            margin: 6px 0px;

        }

        .nav-right li {
            list-style: none;
            display: inline-block;

        }

        .nav-right li a {
            text-decoration: none;
            color:white;
            font-size: 1.2rem;
            font-family: sans-serif;
            width: 50px;
            padding: 8px 6px;
            text-align: center;

        }
































        .container {
            width: 100%;
            height: 92vh;
            background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('/images2/bg-7.jpg');
            background-position: center;
            background-size: cover;
            color: rgb(224, 218, 218);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -100;

        }

        .con {
            width: 25vw;
            height: 200px;
            background: rgba(0, 0, 0, 0.952);
            border-radius: 6px;
            display: flex;


        }

        form {
            width: 90%;
            margin: auto;
            height: 100%;
            padding: 3% 0;
        }

        input,
        textarea {
            width: 100%;
            height: 30px;
            padding: 5px;
            background: rgba(252, 250, 250, 0.877);
            border: none;
            border-radius: 6px;
            text-align: justify;
            font-size: large;
            color: rgb(5, 69, 71);
            margin-bottom: 2%;
          

        }

        button {
            width: 150px;
            height: 35px;
            padding: 5px 0;
            text-align: center;

            background: blue;
            color: white;
            margin:4% 0%;
            float: right;
            border: palevioletred;
            border-radius: 8px;
            cursor: pointer;
            font-size: 1.1rem;

        }

        label {

            font-size:1.3rem;
            font-family: sans-serif;
        
            

        }

        button:hover {
            background: red;
        }
 