<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umer Brands</title>
<link rel="stylesheet" href="/css/index.css">


</head>
<body>

        <div class="nav-side" id="nav-side">
        <div class="nav-text">Umer Brands</div>
        <div class="list">
            <li class="close" onclick="nav_close()">Close</li>
            <li><a href="/gallery.html">Products</a></li>
            <li><a href="About.html">About Us</a></li>
            <li><a href="gallery.html">More</a></li>
            <li><a href="login.html">Login</a></li>
        </div>
    </div>


<div id="op">
    <div class="nav-bar">
        <div class="nav-t">
            Umer Brands
        </div>


        <div class="nav-tog">
            <a class="open" href="#" >☰</a>
        </div>

    </div>














    <div class="con-img" id="home">
        <img alt="" src="/images2/col-2.jpg" class="mySlides">
        <img alt="" src="/images2/img-5.jpg" class="mySlides">
        <img alt="" src="/images2/bg-alpha2.jpg" class="mySlides">
        <img alt="" src="/images2/bg-alpha3.jpg" class="mySlides">
        <img alt="" src="/images2/bg-3.jpg" class="mySlides">
    </div>

















    

   <script src="/js/index.js"></script>
</body>
</html>