<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/login.css">k
</head>

<body>
    <div class="container-nav">
        <div class="con-nav">
            <div class="nav-left">
                AB Perfume
            </div>
            <div class="nav-right">
                <li><a href="index.html">Home</a></li>
                <li><a href="/gallery.html">Gallery</a></li>
                <li><a href="/about.html">About us</a></li>
              





            </div>

        </div>
    </div>


    <div class="container">
        <div class="con">
            <form action="index.html" id="form">

                <label>EMAIL <input type="email" name="" placeholder="Enter EMAIL" class="input"></label>
                <label>PASSWORD <input type="password" name="password" placeholder="Enter password"
                        class="input"></label>
   
                <button type="submit" id="submit">Submit</button>



            </form>
        </div>
    </div>




        
</body>

</html>